body {
    --nav-height: 50px;
    padding-top: var(--nav-height);
    overflow:auto;
}


.orgyeah-header {
    position: fixed;
    top: 0px;
    left: 0;
    float:left;
    width: 100%;
    overflow-y: hidden;
    height: var(--nav-height);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.topbar-menu-container {
    font-size:90%;
    background-color: #a6a6a6;
    width: 100%;
    line-height: 36px;
    border-top: 2px solid #4d4d4d;
    border-bottom: 2px solid #4d4d4d;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    }

.topbar-menu a.current{
    color: #201;
    padding-bottom: 0px;
    text-decoration: none;
    border-bottom: 4px solid #1678ff;}

.topbar-menu a.current-red{
    color: #201;
    padding-bottom: 0px;
    text-decoration: none;
    border-bottom: 4px solid #ff1678;}

.topbar-menu a {
    color: #d7d7d7;
    padding: 0px 5px 0px 5px;
}

.topbar-menu img {
  display: unset;
  margin-top: 10px;
  height: 32px;
  width: 32px;
  border: 0;
}

.orgyeah-header .topbar-menu-container .leftNav {
  margin-top: 12px;
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  float:left;
  width: 100%;
}
