:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 300px;
}

body {
    --nav-height: 50px;
    padding-top: var(--nav-height);
    overflow:auto;
    color: #d7dadc;
}


.orgyeah-header {
    position: fixed;
    top: 0px;
    left: 0;
    float:left;
    width: 100%;
    overflow-y: hidden;
    height: var(--nav-height);
    box-shadow: 0 0 4px rgba(0.2, 0.2, 0.2, 0.2);
    transition: transform 0.2s;
    z-index: 200;
}

.topbar-menu-container {
    font-size:110%;
    background-color: #1a1a1b;
    width: 100%;
    line-height: 36px;
    border-top: 2px solid #4d4d4d;
    border-bottom: 2px solid #4d4d4d;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    }

.topbar-menu a.current{
    color: #fff;
    padding-bottom: 0px;
    text-decoration: none;
    border-bottom: 4px solid #3F88C5;}

.topbar-menu a.current-red{
    color: #fff;
    padding-bottom: 0px;
    text-decoration: none;
    border-bottom: 4px solid #90323D;}

.topbar-menu a {
    color: #fff;
    padding: 0px 5px 0px 5px;
}

.topbar-menu img {
  display: unset;
  margin-top: 10px;
  height: 32px;
  width: 32px;
  border: 0;
}

.orgyeah-header .topbar-menu-container .leftNav {
  margin-top: 12px;
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  float:left;
  width: 100%;
}

a, a:visited {
  color: #2F78b5;
}

a {
  color: #3F88C5;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.outline-2, #table-of-contents, #postamble {
  padding: 0 15px 0 15px;
  border-radius: 15px 50px 30px 5px;
  background:black;
  background:rgba(0,0,0,0.9);

  /* filter:blur(4px); */
  /* -o-filter:blur(4px); */
  /* -ms-filter:blur(4px); */
  /* -moz-filter:blur(4px); */
  /* -webkit-filter:blur(4px); */
  /* margin-bottom: var(--spacing); */
}
.MathJax span {
  color: cyan;
}
